:root {
	--md-primary-fg-color: #000000;
	--md-primary-bg-color: #ffffff;
}

[data-md-color-scheme="dark"] {
	--md-default-bg-color: #1f1f1f;
	--md-default-fg-color: #ffffff;
	--md-default-fg-color--light: #cccccc;
	--md-default-fg-color--ligther: #ababab;
	--md-default-fg-color--lightest: #878787;
	--md-default-fg-color--dark: #7a7a7a;
	
	--md-accent-fg-color: #4d309c;
	
	--md-code-bg-color: #252525;
	--md-code-fg-color: #cccccc;
	
	--md-code-hl-variable-color: var(--md-code-fg-color);
	--md-code-hl-operator-color: var(--md-code-fg-color);
	--md-code-hl-string-color: #adf195;
	--md-code-hl-number-color: #ffc600;
	--md-code-hl-keyword-color: #f86d7c;
	--md-code-hl-function-color: #fdfbac;
	--md-code-hl-generic-color: var(--md-code-fg-color);
	--md-code-hl-punctuation-color: var(--md-code-fg-color);
	--md-code-hl-name-color: var(--md-code-fg-color);
	--md-code-hl-comment-color: #666666;
	
	--md-admonition-fg-color: var(--md-code-fg-color);
    --md-admonition-bg-color: var(--md-code-bg-color);
	
	--md-typeset-a-color: #6640cf;
}